body {
    background-image: url('../background.jpg');
}

.page {
    width: 1000px;
    height: 990px;
    margin-top: 38px;
    margin-left: 150px;
    background-color: #fff;
}

.page-header {
    width: 1000px;
    height: 175px;
}

.logo {
    margin-left: 25px;
    padding-top: 10px;
    padding-left: 5px;
    float: left;
}

.contacts {
    margin-left: 845px;
    padding-top: 10px;
    color: #5fa5bb;
    font-family: Tahoma;
    font-size: 12px;
    line-height: 1.5;
}

.countries {
    width: 325px;
    height: 55px;
    padding-top: 30px;
    padding-right: 30px;
    float: right;
}

.main-menu {
    display: block;
    width: 1000px;
    height: 30px;
    margin-top: -2px;
    border-bottom: 1px solid #000;
    background-color: #353535;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu li {
    display: inline-block;
    width: 139px;
    text-align: center;
}

.main-menu a {
    display: block;
    padding-top: 7px;
    padding-left: 25px;
    color: #fff;
    font-family: Tahoma;
    font-size: 14px;
    text-decoration: none;
}

.main-menu a:active {
    margin-left: 10px;
    text-align: right;
}

.triangles {
    width: 5px;
    height: 5px;
    margin: 3px;
}

.main-menu .sub-menu {
    display: none;
    position: absolute;
    left: 320px;
    width: 150px;
    margin: 10px;
    padding: 0;
    background-color: #353535;
    list-style: none;
}

.main-menu .sub-menu a {
    padding: 2px 0;
    line-height: 1.5;
    text-align: left;
}

.main-menu > li:hover .sub-menu {
    display: block;
}

.main-menu .opened .sub-menu {
    display: block;
}

.information {
    width: 210px;
    height: 545px;
    padding: 0;
    float: left;
    border-right: 1px solid #bbc1cb;
    background-color: #edeef0;
    font-family: Tahoma;
    font-size: 14px;
    line-height: 2;
    text-align: center;
}

.information h1 {
    font-size: 18px;
    font-weight: normal;
}

.news {
    width: 210px;
    height: 545px;
    padding: 0;
    float: right;
    border-left: 1px solid #bbc1cb;
    background-color: #edeef0;
    font-family: Tahoma;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    overflow: hidden;
}

.news h1 {
    font-size: 18px;
    font-weight: normal;
}

.page-footer {
    margin-top: 10px;
    margin-bottom: 13px;
    color: #fff;
    font-family: Tahoma;
    font-size: 12px;
    text-align: center;
}
